#view-customer {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 40px;
    gap: 24px;
    .overview {
      display: flex;
      gap: 32px;
    }
    
    .return {
      position: absolute;
      top: 5px;
      left: 430px;
      color: $gray-300;
      gap: 2px;

      &:hover{
        text-decoration: none;
        color: $gray-100;
      }
      &:active{
        color: $gray-500;
      }
    }

    .main-content {
      display: flex;
      gap: 32px;

      .account-holder {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h6 {
          color: $gray-300;
          margin-bottom: 3px;
        }

        .account {
          display: flex;
          flex-direction: column;
          .account-summary {
            display: flex;
            justify-content: space-between;
            padding: 0 12px;
          }

          .buttons {
            display: flex;
            justify-content: center;
            gap: 12px;
            padding-top: 12px;

            .btn-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 4px;
              @include text-m;
              padding: 0 8px;
              height: 34px;
              border-radius: 8px;
              background-color: $dark-secondary;
              transition: all 0.2s ease;

              &:hover {
                background-color: $gray-700;
                text-decoration: none;
                cursor: pointer;
              }
              &:active {
                background-color: $dark;
                color: $gray-400;
                text-decoration: none;
                @include shadow-fake-border;
              }
            }
          }
        }
      }
      .personal-info-holder {
        display: flex;
        flex-direction: column;
        
        h4{
          margin-bottom: 32px;
        }

        .activate-deactivate{
          margin-top: 12px;
          padding-left: 8px;
        }

        .info-box {
          @include shadow-fake-border;
          display: flex;
          flex-direction: column;
          gap: 16px;
          border-radius: 8px;
          padding: 20px;
          margin-bottom: 12px;
          margin-top: 12px;

          .info-section {
            h5 {
              margin-bottom: -5px;
            }

            display: flex;
            flex-direction: column;
            @include text-m;
            line-height: 18px;
            gap: 4px;
          }
        }
        .btn-view {
          max-width: 150px;
        }
      }
    }
  }
}
