html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

html,
body {
  @include standard-text;
  font-size: 16px;
}

.wrapper {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.container {
  margin: 0;
  padding: 0 312px;
  background-color: $dark;
}

::-webkit-scrollbar{
  all:unset;
  background-color: $dark-secondary;
}

.text-lead {
  @include text-lead;
}
.text-xl {
  @include text-xl;
}
.text-lg {
  @include text-lg;
}
.text-m {
  @include text-m;
}
.text-s {
  @include text-s;
}
.text-xs {
  @include text-xs;
}

// headings
h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

.d1 {
  @include d1;
}

.d2 {
  @include d2;
}

.d3 {
  @include d3;
}

.d4 {
  @include d4;
}

.d5 {
  @include d5;
}

.d6 {
  @include d6;
}
