$transparent: transparent;
$white: #d8dde8;
$dark: #1d2e43;
$dark-secondary: #293f5a;

$gray-100: #f3f6ff;
$gray-200: #d8dde8;
$gray-300: #bec4d0;
$gray-400: #a3abb9;
$gray-500: #8892a1;
$gray-600: #6d798a;
$gray-700: #536072;
$gray-800: #38475b;
$gray-900: #1d2e43;

$primary: #2554cb;
$secondary: #00799f;
$accent: #619b98;
$accent-secondary: #4a7471;
$primary-opacity: #2554cb14;
$gradient-primary: linear-gradient(
  90deg,
  #2554cb 0%,
  #258ecb 50%,
  #619b98 100%
);
$gradient-background: linear-gradient(
  -1deg,
  rgba(99, 101, 241, 0.1) 0%,
  rgba(216, 70, 239, 0.05) 45%,
  rgba(241, 244, 253, 0.07) 75%
);

$danger: #ef4444;
$success: #22c55e;
$warning: #ffba08;
$info: #4c82f7;

@mixin shadow-s {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03),
    0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  -webkit-box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03),
    0px 4 4px 12px -1px rgba(19, 16, 34, 0.06);
  -moz-box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03),
    0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
}
@mixin shadow-m {
  filter: drop-shadow(0px 4px 9px rgba(19, 16, 34, 0.03))
    drop-shadow(0px 4.4px 20px rgba(19, 16, 34, 0.05));
  -webkit-box-shadow: 0px 4.4px 20px rgba(19, 16, 34, 0.05);
  -moz-box-shadow: 0px 4.4px 20px rgba(19, 16, 34, 0.05);
}
@mixin shadow-l {
  box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06),
    0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
  -webkit-box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06),
    0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
  -moz-box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06),
    0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
}
@mixin shadow-primary {
  box-shadow: 0px 8px 18px -8px rgba(37, 84, 203, 0.9);
  -webkit-box-shadow: 0px 8px 18px -8px rgba(37, 84, 203, 0.9);
  -moz-box-shadow: 0px 8px 18px -8px rgba(37, 84, 203, 0.9);
}
@mixin shadow-primary-s {
  box-shadow: 0px 8px 9px 0px rgba(37, 84, 203, 0.315);
  -webkit-box-shadow: 0px 8px 9px 0px rgba(37, 84, 203, 0.315);
  -moz-box-shadow: 0px 8px 9px 0px rgba(37, 84, 203, 0.315);
}
@mixin shadow-mini-highlight {
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.07);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.07);
  -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.07);
}
@mixin shadow-accent {
  box-shadow: 0px 8px 18px -8px rgba(97, 155, 152, 0.9);
  -webkit-box-shadow: 0px 8px 18px -8px rgba(97, 155, 152, 0.9);
  -moz-box-shadow: 0px 8px 18px -8px rgba(97, 155, 152, 0.9);
}
@mixin shadow-secondary {
  box-shadow: 0px 8px 18px -8px rgba(0, 121, 159, 0.15);
  -webkit-box-shadow: 0px 8px 18px -8px rgba(0, 121, 159, 0.15);
  -moz-box-shadow: 0px 8px 18px -8px rgba(0, 121, 159, 0.15);
}
