@mixin standard-heading {
  line-height: 130%;
  font-weight: 800;
  color: $gray-100;
  font-family: $font-manrope;
}

@mixin standard-text {
  line-height: 160%;
  font-weight: 400;
  color: $gray-300;
  font-family: $font-manrope;
}
@mixin standard-numericals {
  @include standard-text;
  font-weight: 700;
  letter-spacing: 1px;
}

@mixin navigation-text {
  @include standard-text;
  font-size: 16px;
  font-weight: 600;
  color: $gray-300;
}

@mixin navigation-hover {
  @include standard-text;
  font-size: 16px;
  font-weight: 600;
  color: $primary;
}

@mixin text-lead {
  @include standard-text;
  font-size: 24px;
}
@mixin numericals-lead {
  @include standard-numericals();
  font-size: 24px;
}
@mixin text-xl {
  @include standard-text;
  font-size: 20px;
}
@mixin numericals-xl {
  @include standard-numericals();
  font-size: 20px;
}
@mixin text-lg {
  @include standard-text;
  font-size: 18px;
}
@mixin numericals-lg {
  @include standard-numericals();
  font-size: 18px;
}
@mixin numericals-lg-thin {
  @include standard-numericals();
  font-size: 18px;
  font-weight: 400;
}
@mixin text-m {
  @include standard-text;
  font-size: 16px;
}
@mixin numericals-m {
  @include standard-numericals();
  font-size: 16px;
}
@mixin text-s {
  @include standard-text;
  font-size: 14px;
}
@mixin numericals-s {
  @include standard-numericals();
  font-size: 14px;
}
@mixin text-xs {
  @include standard-text;
  font-size: 12px;
}
@mixin numericals-xs {
  @include standard-numericals();
  font-size: 12px;
}

// headings
@mixin h1 {
  @include standard-heading;
  font-size: 40px;
}

@mixin h2 {
  @include standard-heading;
  font-size: 32px;
}

@mixin h3 {
  @include standard-heading;
  font-size: 28px;
}

@mixin h4 {
  @include standard-heading;
  font-size: 24px;
}

@mixin h5 {
  @include standard-heading;
  font-size: 20px;
}

@mixin h6 {
  @include standard-heading;
  font-size: 16px;
}

@mixin d1 {
  @include standard-heading;
  font-size: 80px;
}

@mixin d2 {
  @include standard-heading;
  font-size: 72px;
}

@mixin d3 {
  @include standard-heading;
  font-size: 64px;
}

@mixin d4 {
  @include standard-heading;
  font-size: 56px !important;
}

@mixin d5 {
  @include standard-heading;
  font-size: 48px;
}

@mixin d6 {
  @include standard-heading;
  font-size: 42px;
}

//numericals
.numerical{
  @include numericals-m;
}
.numerical-thin{
  @include numericals-m;
  font-weight: 400;
}