@mixin button {
  display: flex;
  padding: 8px 28px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
}

.btn-medium {
  all: unset;
  @include text-m;
  height: 34px;
  box-sizing: border-box;
  padding: 0 8px;
  border-radius: 8px;
  background-color: $primary;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
    color: $white;
    @include shadow-primary-s;
    background: darken($primary, 2%);
    cursor: pointer;
  }
  &:active {
    background-color: $dark;
    @include shadow-fake-border;
  }
}

.btn-lg {
  all: unset;
  @include text-lg;
  height: 40px;
  box-sizing: border-box;
  padding: 0 14px;
  border-radius: 8px;
  background-color: $primary;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
    color: $white;
    @include shadow-primary-s;
    background: darken($primary, 2%);
    cursor: pointer;
  }
  &:active {
    background-color: $dark;
    @include shadow-fake-border;
  }
}

.btn-disabled {
  all: unset;
  display: flex;
  align-items: center;
  padding: 10px;
  @include text-m;
  height: 32px;
  box-sizing: border-box;
  padding: 0 8px;
  border-radius: 8px;
  background-color: $gray-600;
  color: $gray-800;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    background-color: $dark;
    color: $gray-400;
    @include shadow-fake-border;
  }
}

.btn-theme {
  @include button;
  color: $white;
  background: $gradient-primary;
  border: none;

  &:hover {
    text-decoration: none;
    background: $secondary;
    color: $white;
  }
}

@mixin circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  @include shadow-s;
}

.button-circle,
i.buttion-circle,
a.buttion-circle {
  @include circle-button;
  color: $gray-900;
  background: $white;
  border: none;
  transition: all 0.15s ease-in-out;
}

.btn-icon {
  display: flex;
  justify-content: center;
}
.btn-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  @include text-m;
  padding: 0 8px;
  height: 34px;
  border-radius: 8px;
  background-color: $primary;
  transition: all 0.2s ease;

  &:hover {
    background-color: $gray-700;
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    background-color: $dark;
    color: $gray-400;
    text-decoration: none;
    @include shadow-fake-border;
  }
}

.header-btn-icon {
  display: flex;
  justify-content: flex-start;
}

.btn-thin-red {
  @include text-m;
  background-color: inherit;
  color: $danger;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  border: solid 1px $danger;
  border-radius: 8px;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
    background-color: darken($dark, 3%);
  }
  &:active {
    background-color: $dark;
    color: $gray-400;
    text-decoration: none;
    border: solid 1px $gray-400;
  }
}

.btn-thin-green {
  @include text-m;
  background-color: inherit;
  color: $success;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  border: solid 1px $success;
  border-radius: 8px;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
    background-color: darken($dark, 3%);
  }
  &:active {
    background-color: $dark;
    color: $gray-400;
    text-decoration: none;
    border: solid 1px $gray-400;
  }
}

.btn-discard {
  background-color: inherit;
  color: $danger;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  border: solid 1px $danger;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease;
  padding: 0;

  .material-symbols-outlined {
    transition: right 0.2s ease;
    position: absolute;
    right: 8px;
  }

  .text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    transition: color 0.3s ease, transform 0.2s ease, opacity 0.2s ease;
  }

  &:hover {
    width: 150px;
    border-radius: 800px;
    align-items: center;
    padding-left: 20px;

    .material-symbols-outlined {
      position: absolute;
      right: 8px;
    }

    .text {
      display: inline;
      color: $danger;
      opacity: 1;
      transform: translate(-60%, -50%);
    }
  }

  &:active {
    background-color: $dark;
    color: $gray-400;
    border: solid 1px $gray-400;

    .text {
      color: $gray-400;
    }
  }
}
