table {
  background-color: $dark-secondary;
  border-radius: 8px;
  border-collapse: collapse;
  margin: 10px 0 40px;
  @include shadow-mini-highlight;

  thead {
    text-align: left;

    th {
      padding: 12px 10px 0px;
      border-bottom: $gray-800 solid 1px;
      white-space: nowrap;
    }

    tr:hover {
      background-color: inherit;
    }
  }

  tr {
    width: 100%;
    td {
      padding: 8px 10px;
      white-space: nowrap;
    }
    transition: all 0.3s ease;

    &:hover {
      background-color: $gray-700;
    }
  }

  tr:nth-child(even) {
    background: $gray-800;
    &:hover {
      background-color: $gray-700;
    }
  }

  tfoot tr:hover{
    background-color: inherit;
  }

  .btn-medium {
    border-radius: 8px;
    border-top-right-radius: 0;
  }
}
