table {
  background-color: $dark-secondary;
  border-radius: 8px;
  border-collapse: collapse;
  margin: 10px 0;

  thead {
    text-align: left;

    th {
      padding: 12px 16px 0px;
      border-bottom: $gray-800 solid 1px;
    }
  }

  tr {
    width: fit-content;
    td {
      padding: 8px 16px;
    }
  }

  tr:nth-child(even) {
    background: $gray-800;
  }
}
