@page
@model BankWebApp.Pages.ViewCustomer.IndexModel
@{
}

<section id="view-customer">
	<div class="container">
		<a class="nav-link" asp-area="" asp-page="/Customers/Index">Return</a>
		<div class="overview">
			<h1>@Model._customer.GivenName @Model._customer.SurName</h1>
			<div class="customer-summary">
				<h3>Customer Summary</h3>
				<div class="content">
					<h5>Number of accounts: @Model._customer.Accounts.Count</h5>
					<h5>Total balance: @Model._customer.TotalBalance</h5>
				</div>
			</div>
		</div>
	</div>
</section>
