@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="hero">
        <img src="images/misc/tokyo-skyline.jpg"
            alt="Tokyo skyline"
            class="hero-background"/>
    <div class="container">
        <h1>Secure Finances, Limitless Living</h1>
        <h2>Whenever, wherever</h2>
        <div class="buttons">
            <a class="hero-btn left" href="#landing-page">Learn More</a>
            <a class="hero-btn right" asp-area="" asp-page="/AllCustomers/Index">View Customers</a>
        </div>
    </div>
</section>
<div id="landing-page">
    <div class="container">
        <h2 class="text-center">Overview</h2>
        <div class="totals-card">
            <div class="line">
                <h3>Total Customers:</h3>
                <div class="value">@Model._landingPageViewModel.TotalCustomers</div>
            </div>
            <div class="line">
                <h3>Total Accounts:</h3>
                <div class="value">@Model._landingPageViewModel.TotalAccounts</div>
            </div>
            <div class="line">
                <h3>Total Balance:</h3>
                <div class="value">@(Model._landingPageViewModel.TotalBalance.ToString("C2", new CultureInfo("sv-SE")))</div>
            </div>
        </div>

        <div class="top-accounts">
            <h2>Our top accounts</h2>
            <div class="country-holder">
                @foreach (var countryInfo in Model._landingPageViewModel.CountriesInfo) {
                    <partial name="_CountryBox" model="countryInfo" />
                }
            </div>
        </div>
    </div>
</div>