@page
@using System.Globalization
@model BankWebApp.Pages.ViewSingleCustomer.ViewAccountModel
@{
}

<section id="view-account">
	<div class="container">
		<div class="card">
			<div class="card-header">
				<div class="account-info">
					<h2>Account no. @Model._account.AccountId</h2>
					<h2>Balance: @Model._account.Balance.ToString("C2", new CultureInfo("sv-SE"))</h2>
				</div>
				<div class="buttons">
					<a class="btn-lg">New Transfer <i class="material-symbols-outlined"> output </i></a>
					<a class="btn-lg withdrawal">New Withdrawal <i class="material-symbols-outlined">payments</i></a>
					<a class="btn-lg deposit">New Deposit <i class="material-symbols-outlined"> savings</i></a>
				</div>
			</div>
			<div class="card-body">
				<table>
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Date</th>
							<th scope="col">Message</th>
							<th scope="col">Amount</th>
							<th scope="col">balance</th>
						</tr>
					</thead>
					<tbody id="transactions-table">

					</tbody>
					<tfoot>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
					</tfoot>
				</table>
				<div class="load-more-btn-box">
					<button id="load-more-btn" Onclick="showMore()">Load More</button>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts
{
	<script>
 			let offset = 0;

			document.addEventListener("DOMContentLoaded", function ()
			{
				showMore();
			});

			const tableBody = document.querySelector("#transactions-table")

			async function showMore()
			{
				const response = await fetch(`/ViewSingleCustomer/TransactionsTable?id=${@Model._account.AccountId}&offset=${offset}`);
				const tableHtml = await response.text();
				tableBody.innerHTML += tableHtml;
				offset += 20;

				if(tableHtml.trim().length === 0)
				{
					document.querySelector("#load-more-btn").setAttribute("disabled","")
				}
			}
	</script>
}
