#customers-table {
  .container {
    padding: 0;

    .main-content {
      display: flex;
      justify-content: center;
      gap: 12px;

      .filter-holder {
        flex-grow: 2;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-top: 71px;

        .filter-box {
          background-color: $dark-secondary;
          white-space: nowrap;
          width: fit-content;
          border-radius: 8px;
          padding: 8px;
          @include shadow-mini-highlight;

          .filter-check-box .form-check-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            background-color: $gray-300;
            border: 1px solid $gray-300;
            border-radius: 50%;
            cursor: pointer;
            vertical-align: text-top;
          }

          .form-check-input:checked {
            background-color: $primary;
          }

          .btn-medium {
            margin-top: 4px;
            margin-left: 4px;
            border-top-left-radius: 0;
          }
        }
      }

      .main-table {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 0 40px;
        gap: 6px;

        .search-info {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: end;
          margin-bottom: 6px;

          .info {
            @include text-m;
            color: $gray-600;
          }

          .register-search{
            display: flex;
            gap: 12px;
          
            .search-bar {
              display: flex;
              align-items: center;
              gap: 0;
              font-size: 0;
  
              input {
                all: unset;
                @include text-s;
                height: 34px;
                padding: 0 8px 0 16px;
                border-top-left-radius: 8px;
                background-color: $dark-secondary;
                color: $gray-300;
  
                &:focus {
                  border: 1px lighten($primary, 10%) solid;
                  border-right: none;
                  height: 32px;
                  background-color: lighten($dark-secondary, 1%);
                }
              }
              .btn-medium {
                border-radius: 0;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                transition: none;
                transition: color 0.2s ease;
  
                .btn-icon {
                  gap: 5px;
                }
  
                &:active {
                  height: 34px;
                  @include shadow-fake-border-except-left;
                }
              }
            }
          }

        }
        table {
          min-width: 800px;
          .btn-icon {
            gap: 2px;
            justify-content: flex-start;
            &:hover {
              text-decoration: none;
              color: $dark-secondary;
            }
          }
        }

        .pagination {
          display: flex;
          gap: 4px;

          .btn-medium{
            display: flex;
            align-items: center;
            padding: 0 10px;
            background-color: $dark-secondary;

            &:hover{
              box-shadow: none;
              background-color: $gray-700;
            }
            &:active{
              background-color: $dark;
              @include shadow-fake-border;
            }
          }

          .btn-current-page {
            all: unset;
            display: flex;
            align-items: center;
            padding: 0 10px;
            @include text-m;
            height: 34px;
            box-sizing: border-box;
            border-radius: 8px;
            background-color: $primary;
            transition: all 0.2s ease;

            &:hover {
              text-decoration: none;
              color: $white;
              box-shadow: none;
              background-color: $gray-500;
              cursor: pointer;
            }
            &:active {
              background-color: $dark;
              @include shadow-fake-border;
            }
          }
        }
      }

      .vip-customers {
        h2 {
          margin-bottom: 10px;
        }
        flex-grow: 1;
        padding-top: 21px;

        .btn-icon {
          gap: 4px;
          &:hover {
            text-decoration: none;
            color: $dark-secondary;
          }
        }
      }
    }
  }
}
