#contact-us {
  .container {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    
    .full-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      .quick-contact {
        padding: 20px 0 40px;

        .contact-box {
          display: flex;
          gap: 32px;
          padding: 30px 0;

          .icon-holder {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $gray-200;
            width: 60px;
            height: 60px;
            border-radius: 50%;

            img {
              width: 28px;
              height: 28px;
            }
          }

          .content {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 306px;

            h4 {
              margin-bottom: 0;
            }

            a {
              display: block;
              width: 183px;
              padding-top: 13px;
              gap: 8px;
              @include navigation-hover;
              transition: color 0.3s ease;

              &:active {
                color: darken($primary, 10%);
                text-decoration: none;
              }

              img {
                width: 13.41px;
                height: 13.41px;
                margin-left: 8px;
              }
            }
          }
        }
      }
    }

    .consultation {
      width: 636px;
      height: 518px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      padding: 72px;
      gap: 40px;
      @include shadow-l;
      background-color: $dark-secondary;

      .date-time {
        display: flex;
        gap: 24px;
      }
      input {
        all: unset;
        display: block;
        height: 52px;
        width: 100%;
        margin-bottom: 5px;
        padding-left: 16px;
        border-radius: 6px;
        background-color: $dark;
      }
      input:focus {
        @include shadow-fake-border;
      }

      select {
        display: block;
        height: 52px;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 16px;
        border: 1px $gray-400 solid;
        border-radius: 6px;
        background-color: $gray-300;
      }
      select:focus {
        @include shadow-s;
        background-color: $gray-300;
        border: 1px lighten($primary, 20%) solid;
      }

      .info-label {
        @include text-xs;
        border-radius: 4px;
        padding: 5px;
        display: inline-block;
      }
      .info-label.error {
        color: $danger;
        background-color: lighten($danger, 30%);
      }
      .info-label.success {
        color: $success;
        background-color: lighten($success, 40%);
      }

      button {
        width: 229px;
        height: 52px;
        border: none;
        border-radius: 8px;
        @include text-m;
        color: $gray-300;
        background-color: $primary;
        margin-top: 30px;
      }
    }
  }
}
