<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankWebApp</title>
    <link rel="stylesheet" href="~/css/layout.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BankWebApp.styles.css" asp-append-version="true" />
</head>
<body>
            <div class="wrapper">
@*     <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">BankWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header> *@
          <header id="home-header">
        <div class="container">
          <a id="logo" asp-area="" asp-page="/Index"
            ><img
              src="images/logo/silicon-logo-light_theme.svg"
              alt="silicon logotype"
          /></a>

          <nav id="menu">
            <div class="menu-links">
              <a class="nav-link" href="#showcase">Overview</a>
              <a class="nav-link" href="#features">Features</a>
              <a class="nav-link" href="#">News</a>
              <a class="nav-link" asp-area="" asp-page="/Contact">Contact</a>
              <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
          </nav>

          <partial name="_LoginPartial"/>

          </div>
      </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

          <footer id="home-footer">
        <div class="container">
          <a class="logo" href="silicon-home.html"
            ><img
              src="images/logo/silicon-logo-light_theme.svg"
              alt="silicon logotype"
          /></a>
          <div class="menu-links">
            <a class="nav-link" href="#showcase">Overview</a>
            <a class="nav-link" href="#features">Features</a>
            <a class="nav-link" href="#">News</a>
            <a class="nav-link" href="silicon-contact.html">Contact</a>
            <a class="nav-link" href="#">Account</a>
          </div>
          <div class="download-app">
            <a href="https://www.apple.com/app-store/"
              ><img src="images/misc/appstore.svg" alt="Download on Appstore"
            /></a>
            <a href="https://play.google.com/store/games?hl=en&gl=US&pli=1"
              ><img
                src="images/misc/googleplay.svg"
                alt="Download on Google Play"
            /></a>
          </div>
          <div class="social-media">
            <a href="http://facebook.com">
              <img
                src="images/icons/Social_media/facebook.svg"
                alt="facebook"
              />
            </a>
            <a href="http://twitter.com">
              <img src="images/icons/Social_media/twitter.svg" alt="twitter" />
            </a>
            <a href="https://www.instagram.com/williamgross.jpg/">
              <img
                src="images/icons/Social_media/instagram.svg"
                alt="instagram"
              />
            </a>
            <a href="http://youtube.com">
              <img src="images/icons/Social_media/youtube.svg" alt="youtube" />
            </a>
          </div>
          <div class="legal">
            2024. All rights reserved. Pulvinar urna condimentum amet tempor,
            ornare integer. Lorem odio justo malesuada suspendisse viverra
            aliquet quisque turpis non. Feugiat in odio non nunc ornare
            consectetur.
          </div>
        </div>
      </footer>

    @await RenderSectionAsync("Scripts", required: false)
            </div>
</body>
</html>