<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankWebApp</title>
    <link rel="icon" type="image/x-icon" href="images/logo/dozendozen-logo-favicon.ico">
    <link rel="stylesheet" href="~/css/layout.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BankWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    
    @*Google fonts cdn*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

</head>
<body>
    <div class="wrapper">
    <header id="home-header">
        <div class="container">
          <a id="logo" asp-area="" asp-page="/Index">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="696" viewBox="0 0 696 254">
            <path d="M0 0 C28.83281158 -0.08839832 57.66551959 -0.16217107 86.49843331 -0.20426132 C89.91252999 -0.20926336 93.3266264 -0.21444073 96.74072266 -0.21972656 C97.76012952 -0.22130043 97.76012952 -0.22130043 98.80013046 -0.22290608 C109.76359289 -0.24024939 120.7269703 -0.27175303 131.69038251 -0.30861118 C142.96347488 -0.34619068 154.23652523 -0.36797268 165.50968337 -0.37635398 C171.83171771 -0.38154406 178.15356005 -0.3936422 184.47553253 -0.42292023 C190.44106425 -0.45032045 196.40632715 -0.45839581 202.37191582 -0.45243073 C204.54693252 -0.45352005 206.72195938 -0.46132575 208.89692116 -0.4768219 C245.6584969 -0.72561874 277.45331915 11.22155108 304 37 C326.6779985 59.60690759 340.01990435 90.38000104 340.38037109 122.41796875 C340.38082312 123.77864694 340.37898918 125.13932759 340.375 126.5 C340.37418427 127.5511499 340.37418427 127.5511499 340.37335205 128.62353516 C340.24554873 164.57205344 325.77895413 195.14941394 300.515625 220.4921875 C277.52043773 242.33081209 247.00189656 254.4709817 215.359375 254.1953125 C213.48708221 254.19106766 213.48708221 254.19106766 211.57696533 254.18673706 C207.63454132 254.17564322 203.69235404 254.15055899 199.75 254.125 C197.05859953 254.11381319 194.36719273 254.10569517 191.67578125 254.09765625 C185.11710827 254.07573934 178.55857106 254.04237101 172 254 C172.62953432 252.38914244 173.2627227 250.77971257 173.89746094 249.17089844 C174.24967712 248.27449646 174.60189331 247.37809448 174.96478271 246.45452881 C179.18103144 236.4576865 187.84830097 230.08918979 197.52001953 225.89428711 C201.60232226 224.42219862 205.70586874 223.9278556 210 223.4375 C211.85830248 223.19445718 213.71637388 222.94964144 215.57421875 222.703125 C216.94779541 222.52620117 216.94779541 222.52620117 218.34912109 222.34570312 C245.87422001 218.75613414 270.09355439 208.34191006 287.875 186.25 C303.42099107 166.01183379 310.61569582 140.08544737 307.53515625 114.765625 C303.87443573 89.33002948 290.92376141 66.46929014 270.49145508 50.77416992 C249.83278773 35.72691556 223.92675887 29.1314664 198.63500977 32.77148438 C173.2840641 36.96910237 150.63858862 50.4738156 135.46875 71.30078125 C120.44054047 93.12552187 114.82195959 119.58097321 119.50390625 145.60620117 C121.08984979 153.38903887 123.95836783 160.68630193 127 168 C129.90742776 168 131.33107815 166.31656426 133.54418945 164.59594727 C145.37736611 155.40253794 158.79915067 147.89180928 173 143 C172.67773438 142.02546875 172.35546875 141.0509375 172.0234375 140.046875 C168.6308085 128.09761535 170.45602914 115.32165078 176.3203125 104.58203125 C182.32327495 94.79031381 190.84561009 88.60701867 201.91088867 85.45581055 C214.50906363 82.70709106 226.91476968 85.10729599 237.75 91.75 C246.79406096 98.22619365 252.61670645 107.07667761 255 118 C255.8800124 132.55627072 254.53682748 144.31683316 245 156 C237.54874473 164.12268707 227.63276169 168.7691917 216.66796875 169.39453125 C190.61427648 171.05004944 165.13962797 177.3596638 146.26171875 196.7890625 C144.49534491 198.84910148 142.74505244 200.92186701 141 203 C140.35804688 203.71929687 139.71609375 204.43859375 139.0546875 205.1796875 C127.16497391 219.02770686 121.52344342 236.3827829 118 254 C107.44 254 96.88 254 86 254 C86 180.41 86 106.82 86 31 C68.51 31 51.02 31 33 31 C33.495 31.99 33.495 31.99 34 33 C34.92490152 47.54066482 33.51490431 59.34369031 24 71 C18.71297186 76.76344166 12.44667411 80.58456161 5 83 C3.35 83 1.7 83 0 83 C0 55.61 0 28.22 0 0 Z " transform="translate(356,0)"/>
            <path d="M0 0 C2.25789892 0.00056485 4.5157982 0.00024611 6.7736969 -0.00088501 C12.87406396 -0.00145663 18.97435167 0.01026672 25.07470036 0.02426291 C31.46082719 0.03680217 37.84695602 0.03794328 44.23309326 0.04031372 C54.94235865 0.04581497 65.65158952 0.05829027 76.36083984 0.07617188 C87.38590349 0.09456154 98.41095925 0.10870289 109.43603516 0.1171875 C110.11690446 0.11771295 110.79777377 0.11823839 111.49927548 0.11877976 C114.91538013 0.12139005 118.33148484 0.12391742 121.74758959 0.12640357 C150.03715425 0.14709906 178.326671 0.18394872 206.61621094 0.22705078 C206.61621094 27.61705078 206.61621094 55.00705078 206.61621094 83.22705078 C196.12980061 81.91624949 188.80444575 78.03705274 181.61621094 70.22705078 C179.27884793 67.03829536 177.38302524 63.76067939 175.61621094 60.22705078 C175.27460938 59.56447266 174.93300781 58.90189453 174.58105469 58.21923828 C171.33470587 50.5185969 172.18050551 41.41328547 172.61621094 33.22705078 C172.94621094 32.56705078 173.27621094 31.90705078 173.61621094 31.22705078 C156.12621094 31.22705078 138.63621094 31.22705078 120.61621094 31.22705078 C120.61621094 104.81705078 120.61621094 178.40705078 120.61621094 254.22705078 C110.05621094 254.22705078 99.49621094 254.22705078 88.61621094 254.22705078 C87.81183594 250.48361328 87.81183594 250.48361328 86.99121094 246.66455078 C82.04709726 225.15080677 71.30359238 204.96904279 53.61621094 191.22705078 C52.90335938 190.66630859 52.19050781 190.10556641 51.45605469 189.52783203 C34.92615929 177.24769271 15.73408654 170.74437381 -4.79296875 169.94189453 C-18.3377112 169.39270268 -29.57789244 165.61031252 -39.13378906 155.53955078 C-48.20762529 144.58764147 -49.5056734 131.89753236 -48.38378906 118.22705078 C-46.13207501 107.31588785 -39.55431641 97.52884906 -30.38378906 91.22705078 C-18.9151602 85.0871191 -6.89904258 83.26340766 5.92871094 85.91064453 C16.52169287 89.53693522 25.77824467 96.05820705 31.12402344 106.04345703 C34.5362447 113.36510894 35.79720799 119.0344277 35.80371094 127.03955078 C35.81595703 127.82136719 35.82820312 128.60318359 35.84082031 129.40869141 C35.8533367 134.402729 35.21543416 138.49259152 33.61621094 143.22705078 C34.78796875 143.73494141 35.95972656 144.24283203 37.16699219 144.76611328 C50.78735447 150.71104864 62.86549323 157.06044335 74.61621094 166.22705078 C75.94714876 167.23023686 77.27947242 168.2316072 78.61621094 169.22705078 C90.12687145 148.26120486 91.60929631 122.92822727 85.01416016 100.14746094 C77.43440327 76.2272244 61.9992868 55.80075621 39.6965332 43.87548828 C16.04470586 31.87930434 -10.03135319 28.40404713 -35.52050781 36.48095703 C-59.40646908 44.63965428 -79.26402217 60.5013236 -90.75878906 83.16455078 C-102.28738075 107.0546749 -105.06795418 133.12372773 -96.43457031 158.39941406 C-87.71904736 182.1884109 -71.41720526 201.62086844 -48.38525391 212.58300781 C-46.39430838 213.48824143 -44.39290763 214.36301249 -42.38378906 215.22705078 C-40.75376953 215.95021484 -40.75376953 215.95021484 -39.09082031 216.68798828 C-29.13436271 220.53984175 -18.70424314 221.59689149 -8.16845703 222.79638672 C6.52545667 224.50405263 17.75577869 227.79428627 27.55371094 239.60205078 C29.93455059 242.65878097 31.3016769 245.81300476 32.7121582 249.39355469 C33.06955582 250.29764069 33.42695343 251.20172668 33.79518127 252.13320923 C34.06612106 252.82417694 34.33706085 253.51514465 34.61621094 254.22705078 C26.86486361 254.32986122 19.1136968 254.39909694 11.36181641 254.44677734 C8.7338199 254.46668884 6.10586647 254.49382794 3.47802734 254.52880859 C-35.94426737 255.03981051 -68.62240603 245.15611083 -97.38378906 217.22705078 C-120.06178756 194.62014319 -133.40369341 163.84704975 -133.76416016 131.80908203 C-133.76461218 130.44840385 -133.76277824 129.08772319 -133.75878906 127.72705078 C-133.75824524 127.02628418 -133.75770142 126.32551758 -133.75714111 125.60351562 C-133.62933779 89.65499734 -119.16274319 59.07763684 -93.89941406 33.73486328 C-77.41912136 18.08346104 -56.56802527 7.15896228 -34.38378906 2.22705078 C-33.64114429 2.05396456 -32.89849953 1.88087833 -32.13335037 1.70254707 C-21.50718805 -0.41942796 -10.78386883 -0.03787667 0 0 Z " transform="translate(133.3837890625,-0.22705078125)"/>
            <path d="M0 0 C6.27 1.98 12.54 3.96 19 6 C24.94 6.99 24.94 6.99 31 8 C31 46.61 31 85.22 31 125 C20.77 125 10.54 125 0 125 C0 83.75 0 42.5 0 0 Z " transform="translate(309,129)"/>
            <path d="M0 0 C0 41.25 0 82.5 0 125 C-10.23 125 -20.46 125 -31 125 C-31 86.39 -31 47.78 -31 8 C-25.72 7.01 -20.44 6.02 -15 5 C-10.58202508 3.729592 -10.58202508 3.729592 -7.0625 2.3125 C-1.01179941 0 -1.01179941 0 0 0 Z " transform="translate(387,129)"/>
            </svg>
              <h4>Dozen & Dozen</h4>
          </a>

          <nav id="menu">
            <div class="menu-links">
                <a class="nav-link" href="#showcase">Overview</a>
                <a class="nav-link" asp-area="" asp-page="/Privacy/Index">Privacy</a>
                <a class="nav-link" asp-area="" asp-page="/Contact/Index">Privacy</a>
                @if (User.IsInRole("Cashier"))
                {
                    <a class="nav-link" asp-area="" asp-page="/AllCustomers/Index">Customers</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a class="nav-link" asp-area="" asp-page="/AllUsers/Index">Users</a>
                }
            </div>
          </nav>

          <partial name="_LoginPartial"/>

          </div>
      </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

          <footer id="home-footer">
        <div class="container">
            <a id="logo" asp-area="" asp-page="/Index">
                <img src="~/images/logo/dozendozen-logo-alternate.svg" alt="Dozen & Dozen logotype"/>
            </a>
          <div class="menu-links">
            <a class="nav-link" href="#showcase">Overview</a>
            <a class="nav-link" asp-area="" asp-page="/Privacy/Index">Privacy</a>
            <a class="nav-link" asp-area="" asp-page="/Contact/Index">Privacy</a>
          </div>
          <div class="download-app">
            <a href="https://www.apple.com/app-store/"
              ><img src="~/images/misc/appstore.svg" alt="Download on Appstore"
            /></a>
            <a href="https://play.google.com/store/games?hl=en&gl=US&pli=1"
              ><img
                src="~/images/misc/googleplay.svg"
                alt="Download on Google Play"
            /></a>
          </div>
          <div class="social-media">
            <a href="http://facebook.com">
              <img
                src="~/images/icons/Social_media/facebook.svg"
                alt="facebook"
              />
            </a>
            <a href="http://twitter.com">
              <img src="~/images/icons/Social_media/twitter.svg" alt="twitter" />
            </a>
            <a href="https://www.instagram.com/williamgross.jpg/">
              <img
                src="~/images/icons/Social_media/instagram.svg"
                alt="instagram"
              />
            </a>
            <a href="http://youtube.com">
              <img src="~/images/icons/Social_media/youtube.svg" alt="youtube" />
            </a>
          </div>
          <div class="legal">
            @DateTime.Now.Year All rights reserved. Pulvinar urna condimentum amet tempor,
            ornare integer. Lorem odio justo malesuada suspendisse viverra
            aliquet quisque turpis non. Feugiat in odio non nunc ornare
            consectetur.
          </div>
        </div>
      </footer>

    @await RenderSectionAsync("Scripts", required: false)
            </div>
</body>
</html>