#privacy{
    padding-top: 80px;
    padding-bottom: 80px;
    .container{
        max-width: 900px;
        h2{
            margin-top: 40px;
        }
        h3{
            margin-top: 24px;
        }
        h4{
            margin-top: 16px;
        }
    }
}