@page
@model BankWebApp.Pages.Contact.IndexModel
@{
}

<section id="contact-us">
    <a asp-area="" asp-page="/Index" class="return-btn">
        <i class="material-symbols-outlined">keyboard_return</i>
        Return
    </a>
    <div class="container">
        <div class="full-section">
            <h1>Contact Us</h1>
            <div class="quick-contact">
                <div class="contact-box">
                    <div class="icon-holder">
                        <img src="images/icons/icon_envelope.svg" alt="Email us" />
                    </div>
                    <div class="content">
                        <h4>Email us</h4>
                        <p>
                            Please feel free to drop us a line.
                        </p>
                        <p>
                            We will respond as soon as possible.
                        </p>
                        <a href="#">
                            Leave a message
                            <img src="images/icons/arrow_right.svg"
                                 alt="Leave a message" />
                        </a>
                    </div>
                </div>
                <div class="contact-box">
                    <div class="icon-holder">
                        <img src="images/icons/icon_careers.svg" alt="Careers" />
                    </div>
                    <div class="content">
                        <h4>Careers</h4>
                        <p>
                            Want to join our team?
                        </p>
                        <p>
                            We would love to have you, get in touch!
                        </p>
                        <a href="#">
                            Send an application
                            <img src="images/icons/arrow_right.svg"
                                 alt="Send an application" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="consultation">
            <h2>Get Online consultation</h2>
            <form novalidate="true"
                  action=""
                  onsubmit="contactFormHandler(event)">
                <div class="input-group">
                    <label for="#name-field">Full Name</label>
                    <input name="fullName" type="text" id="name-field" />
                    <div class="info-label" id="full-name-info"></div>
                </div>
                <div class="input-group">
                    <label for="#email-field">Email Address</label>
                    <input name="email" type="text" id="email-field" />
                    <div class="info-label" id="email-info"></div>
                </div>

                <div class="date-time-holder">
                    <div class="date-time">
                        <div class="input-group">
                            <label for="#date-field">Date</label>
                            <input name="date"
                                   id="date-field"
                                   type="date"
                                   id="date-field" />
                        </div>
                        <div class="input-group">
                            <label for="#date-field">Time</label>
                            <input name="time"
                                   required="true"
                                   type="time"
                                   id="time-field" />
                        </div>
                    </div>
                    <div class="info-label" id="date-time-info"></div>
                </div>
                <button type="submit">Make an appointment</button>
            </form>
        </div>
    </div>
</section>

<section id="locations">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d892.4107350581653!2d18.065000365891454!3d59.33200029763854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d5e8a20d08d%3A0xce49a44234202bc9!2sBrunkebergstorg%2011%2C%20111%2051%20Stockholm%2C%20Sweden!5e0!3m2!1sen!2sjp!4v1713790458812!5m2!1sen!2sjp"
                width="800"
                height="600"
                style="border:0; border-radius:8px;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <div class="locations-holder">
            <div class="location">
                <h4>Stockholm Head Office</h4>
                <div class="content">
                    <img src="images/icons/pin-icon.svg" alt="Location pin" />
                    Brunkebergstorg 11, 111 51, Stockholm, Sweden
                </div>
                <div class="content">
                    <img src="images/icons/phone-icon.svg" alt="Phone number" />
                    (+46) 08-787 00 00
                </div>
                <div class="content">
                    <img src="images/icons/clock-icon.svg" alt="Business hours" />
                    <div class="business-hours">
                        <div>
                            <h6>Mon - Fri:</h6>
                            9:00 am - 10:00 pm
                        </div>
                        <div>
                            <h6>Sat - Sun:</h6>
                            10:00 am - 8:00 pm
                        </div>
                    </div>
                </div>
            </div>
            <div class="location">
                <h4>Oslo Branch</h4>
                <div class="content">
                    <img src="images/icons/pin-icon.svg" alt="Location pin" />
                    Bankplassen 2, 0151 Oslo, Norway
                </div>
                <div class="content">
                    <img src="images/icons/phone-icon.svg" alt="Phone number" />
                    (+47) 22 31 60 00
                </div>
                <div class="content">
                    <img src="images/icons/clock-icon.svg" alt="Business hours" />
                    <div class="business-hours">
                        <div>
                            <h6>Mon - Fri:</h6>
                            9:00 am - 10:00 pm
                        </div>
                        <div>
                            <h6>Sat - Sun:</h6>
                            9:30 am - 8:00 pm
                        </div>
                    </div>
                </div>
            </div>
            <div class="location">
                <h4>Helsinki Branch</h4>
                <div class="content">
                    <img src="images/icons/pin-icon.svg" alt="Location pin" />
                    Snellmaninaukio, 00101, Helsinki, Finland
                </div>
                <div class="content">
                    <img src="images/icons/phone-icon.svg" alt="Phone number" />
                    (+358) 9 1831
                </div>
                <div class="content">
                    <img src="images/icons/clock-icon.svg" alt="Business hours" />
                    <div class="business-hours">
                        <div>
                            <h6>Mon - Fri:</h6>
                            9:00 am - 10:00 pm
                        </div>
                        <div>
                            <h6>Sat - Sun:</h6>
                            9:00 am - 6:00 pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>