@page
@model BankWebApp.Pages.Contact.IndexModel
@{
}

<section id="contact-us">
  <div class="container">
    <div class="full-section">
      <h1>Contact Us</h1>
      <div class="quick-contact">
        <div class="contact-box">
          <div class="icon-holder">
            <img src="images/icons/icon_envelope.svg" alt="Email us" />
          </div>
          <div class="content">
            <h4>Email us</h4>
            Please feel free to drop us a line. We will respond as soon
            as possible.
            <a href="#"
              >Leave a message
              <img
                src="images/icons/arrow_right.svg"
                alt="Leave a message"
              />
            </a>
          </div>
        </div>
        <div class="contact-box">
          <div class="icon-holder">
            <img src="images/icons/icon_careers.svg" alt="Careers" />
          </div>
          <div class="content">
            <h4>Careers</h4>
            Sit ac ipsum leo lorem magna nunc mattis maecenas non
            vestibulum.
            <a href="#"
              >Send an application
              <img
                src="images/icons/arrow_right.svg"
                alt="Send an application"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="consultation">
      <h2>Get Online consultation</h2>
      <form
        novalidate="true"
        action=""
        onsubmit="contactFormHandler(event)">
        <div class="input-group">
          <label for="#name-field">Full Name</label>
          <input name="fullName" type="text" id="name-field" />
          <div class="info-label" id="full-name-info"></div>
        </div>
        <div class="input-group">
          <label for="#email-field">Email Address</label>
          <input name="email" type="text" id="email-field" />
          <div class="info-label" id="email-info"></div>
        </div>

        <div class="date-time-holder">
          <div class="date-time">
            <div class="input-group">
              <label for="#date-field">Date</label>
              <input
                name="date"
                id="date-field"
                type="date"
                id="date-field"
              />
            </div>
            <div class="input-group">
              <label for="#date-field">Time</label>
              <input
                name="time"
                required="true"
                type="time"
                id="time-field"
              />
            </div>
          </div>
          <div class="info-label" id="date-time-info"></div>
        </div>
        <button type="submit">Make an appointment</button>
      </form>
    </div>
  </div>
</section>

<section id="locations">
  <div class="container">
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2663.360765053499!2d24.111132696020984!3d56.9513168416462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sse!4v1710432864769!5m2!1sen!2sse"
      width="636"
      height="540"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <div class="locations-holder">
      <div class="location">
        <h4>Medical Center 1</h4>
        <div class="content">
          <img src="images/icons/pin-icon.svg" alt="Location pin" />
          4517 Washington Ave. Manchester, Kentucky 39495
        </div>
        <div class="content">
          <img src="images/icons/phone-icon.svg" alt="Phone number" />
          (406) 555-0120
        </div>
        <div class="content">
          <img src="images/icons/clock-icon.svg" alt="Business hours" />
          <div class="business-hours">
            <div>
              <h6>Mon - Fri:</h6>
              9:00 am - 10:00 pm
            </div>
            <div>
              <h6>Sat - Sun:</h6>
              9:00 am - 8:00 pm
            </div>
          </div>
        </div>
      </div>
      <div class="location">
        <h4>Medical Center 2</h4>
        <div class="content">
          <img src="images/icons/pin-icon.svg" alt="Location pin" />
          2464 Royal Ln. Mesa,New Jersey 45463
        </div>
        <div class="content">
          <img src="images/icons/phone-icon.svg" alt="Phone number" />
          (406) 544-0123
        </div>
        <div class="content">
          <img src="images/icons/clock-icon.svg" alt="Business hours" />
          <div class="business-hours">
            <div>
              <h6>Mon - Fri:</h6>
              9:00 am - 10:00 pm
            </div>
            <div>
              <h6>Sat - Sun:</h6>
              9:00 am - 8:00 pm
            </div>
          </div>
        </div>
      </div>
      <div class="social-media">
        <a href="https://www.facebook.com/">
          <img
            src="images/icons/Social_media/facebook.svg"
            alt="Facebook"
          />
        </a>
        <a href="https://twitter.com/">
          <img
            src="images/icons/Social_media/twitter.svg"
            alt="Twitter"
          />
        </a>
        <a href="https://www.instagram.com/williamgross.jpg/">
          <img
            src="images/icons/Social_media/instagram.svg"
            alt="Instagram"
          />
        </a>
        <a href="https://www.youtube.com/">
          <img
            src="images/icons/Social_media/youtube.svg"
            alt="Youtube"
          />
        </a>
      </div>
    </div>
  </div>
</section>