#features {
  padding: 60px;

  .container {
    display: none;
    gap: 10px;

    @include md {
      display: flex;
    }

    .content {
      padding-left: 202px;
      display: flex;
      flex-direction: column;
      column-gap: 100px;
    }

    .icon-holder {
      background: $gray-200;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 5px;
    }

    .feature-holder {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    .text {
      max-width: 670px;
      padding-top: 20px;
      padding-bottom: 50px;
      color: $gray-600;
    }

    .feature-text {
      max-width: 250px;
    }

    .feature-box {
      display: flex;
      gap: 24px;
    }
  }
}
