#footer {
  .container {
    background-color: $dark-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;

    .logo {
      padding: 15px 15px 8px;
      border-radius: 5000px;
      margin-bottom: 20px;

      img {
        width: 300px;
      }

      &:hover {
        background-color: $dark;
      }
      &:active {
        background-color: darken($dark, 3%);
      }
    }
    .content {
      display: flex;
      gap: 80px;
      @include text-s;
      color: $gray-500;

      .newsletter {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 40px 0 72px;
        @include navigation-text;
        color: $gray-300;

        button {
          position: absolute;
          top: 74px;
          right: 0;
          width: 124px;
          height: 46px;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          border: none;
          @include text-lg;
          background-color: $primary;
          color: $gray-300;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken($primary, 4%);
          }
          &:active {
            background-color: $dark;
            @include shadow-fake-border;
          }
        }

        .newsletter-box {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        .input-wrapper {
          position: relative;
          display: flex;
          align-items: center;

          input {
            all: unset;
            height: 46px;
            width: 100%;
            padding: 0 16px 0 48px;
            border-radius: 6px;
            @include text-s;
            color: $gray-600;
            background-color: $dark;
          }

          input:focus {
            @include shadow-fake-border;
            background-color: lighten($gray-900, 1%);
          }

          .envelope-icon {
            position: absolute;
            left: 16px;
          }
        }

        .info-label {
          @include text-s;
          border-radius: 4px;
          width: fit-content;
          padding: 5px;
          display: inline-block;
        }
        .info-label.error {
          background-color: $danger;
          color: lighten($danger, 30%);
        }
        .info-label.success {
          background-color: $success;
          color: lighten($success, 60%);
        }
      }

      .legal {
        @include text-xs;
      }
    }

    .links {
      display: flex;
      gap: 71px;

      .link-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 150px;
        a {
          @include navigation-text;
          color: $gray-200;
          transition: color 0.3s ease;

          &:active {
            text-decoration: none;
            color: $gray-200;
          }
        }
        .news {
          padding-bottom: 40px;
        }
      }

      .contact-us {
        display: flex;
        flex-direction: column;
        gap: 4px;
        @include navigation-text;
        color: $gray-200;
        a {
          @include navigation-hover;
          color: $primary;
          transition: color 0.3s ease;

          &:active {
            text-decoration: none;
            color: $gray-200;
          }
        }

        .address {
          @include text-m;
        }
      }
    }
  }
}
