#home-footer {
  .container {
    display: flex;
    flex-direction: column;
    padding: 80px 0 40px;
    gap: 60px;
    align-items: center;
    background-color: $dark-secondary;

    #logo {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0.3);
      padding: 25px;
      border-radius: 500px;

      &:hover {
        background-color: $gray-700;
      }
      &:active {
        background-color: $dark-secondary;
      }
    }

    .menu-links {
      display: flex;
      gap: 56px;

      .nav-link {
        @include navigation-text;
      }
    }

    .download-app {
      display: flex;
      justify-content: center;
      gap: 24px;
      transition: box-shadow 0.3s ease;

      a {
        &:hover {
          @include shadow-s;
        }
      }
    }

    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        background-color: $gray-200;
        border-radius: 6px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        img {
          width: 20px;
          height: 20px;
        }

        &:hover {
          background-color: $gray-300;
        }
        &:active {
          background-color: $gray-400;
          @include shadow-s;
        }
      }
    }

    .legal {
      max-width: 856px;
      text-align: center;
      @include text-s;
      color: $gray-600;
    }
  }
}
