#home-header {
  padding: 8px 0;
  background-color: $dark-secondary;

  .container {
    display: grid;
    align-items: center;
    background-color: $dark-secondary;

    gap: 30px;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "logo btn-menu"
      "menu menu";

    @include md {
      grid-template-columns: 1fr auto auto;
      grid-template-areas: "logo theme-mode btn-menu";
    }

    @include lg {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo menu theme-mode btn-account";
    }

    #logo {
      grid-area: logo;
    }

    #menu {
      grid-area: menu;
      display: none;
      gap: 40px;
      background-color: $gray-900;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;

      @include lg {
        height: 100%;
        position: static;
        background-color: $transparent;
        display: flex !important;
        align-items: center;
      }

      .menu-links {
        display: grid;
        gap: 50px;
        padding: 50px 0;
        text-align: center;

        .nav-link {
          color: $gray-100;
        }

        @include lg {
          display: flex;
          padding: 0;
          text-align: left;

          .nav-link {
            @include navigation-text;
          }
        }
      }
    }
    .signin-signout {
      @include text-s;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 12px;
      color: $gray-700;

      button {
        @include text-m;
        padding: 8px 28px;
        border-radius: 6px;
        background-color: $primary;
        border: none;
        transition: all 0.2s ease;

        &:hover {
          text-decoration: none;
          color: $white;
          @include shadow-primary;
          background: darken($primary, 2%);
          cursor: pointer;
        }
        &:active {
          background-color: $secondary;
          box-shadow: none;
        }
      }
    }
  }
}
