#how-to {
  background: $gray-200;
  .container {
    padding: 60px;
    display: none;

    @include md {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 45px;
    }

    .carousel {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    .selected-phone {
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      padding: 0 70px 0 70px;
    }

    .phone-image {
      position: relative;
      top: 0;
      left: 0;
    }
    .phone-screen {
      position: absolute;
      top: 15px;
      left: 87px;
    }

    .deselected-phone {
      opacity: 80%;
    }

    .button {
      @include shadow-s;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      cursor: pointer;
      color: $gray-800;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $gray-300;
      }

      &:active {
        background-color: $gray-500;
      }
    }

    .heading {
      color: $gray-900;
    }
    .steps {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $gray-900;
      gap: 12px;
    }
    .text {
      max-width: 650px;
      @include text-m;
      color: $gray-700;
      text-align: center;
    }
  }
  .progress {
    background-color: $gray-300;
    height: 3px;
    width: 100wv;
    display: flex;
    justify-content: center;
    .bar {
      width: calc(100vw / 3);
      height: 3px;
      background-color: $primary;
    }
  }
}
