#landing-page {
  background: $danger;
  .container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px 0;
    .totals-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 24px;
      gap: 12px;
      @include shadow-primary;
      background: $gradient-primary;
      border-radius: 8px;
      max-width: 330px;

      .line {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 0;

        .value {
          @include text-lg;
          margin-bottom: -0.5em;
        }
      }
    }

    .top-accounts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      color: $gray-300;

      .country-holder {
        display: flex;
        gap: 14px;
        padding: 24px;
        border-radius: 8px;
        background-color: $dark-secondary;
        .country-box {
          @include shadow-accent;
          background-color: $secondary;
          display: flex;
          flex-direction: column;
          padding: 12px;
          gap: 6px;
          border-radius: 8px;

          img {
            max-width: 48px;
            height: auto;
          }
        }
      }
    }
  }
}
