#showcase {
  background: $gradient-background;

  @include lg {
    padding-top: 40px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "img"
      "content";

    @include md {
      grid-template-columns: 1fr 1fr;
      align-items: end;
      grid-template-areas: "content img";
      gap: 50px;
    }

    @include lg {
      align-items: stretch;
      gap: 100px;
    }

    .content {
      grid-area: content;
      text-align: center;
      padding: 20px;

      @include lg {
        text-align: left;
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        padding: 0;
      }

      h1 {
        @include h1;

        @include lg {
          @include d4;
          padding-top: 80px;
        }
      }

      p {
        max-width: 420px;
      }

      .download-app {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 40px 0 0;

        @include lg {
          justify-content: flex-start;
        }

        .download-btn {
          width: 180px;
          height: 52px;
          img {
            width: 100%;
          }
        }
      }

      .more {
        @include text-m;

        i {
          margin-right: 8px;
        }

        display: flex;
        align-items: center;
        width: 165px;
        margin-bottom: 64px;
        gap: 16px;

        .arrow-button {
          display: flex;
          justify-content: center;
          width: 44px;
          height: 44px;
          padding: 8px;
          border-radius: 50%;
          @include shadow-s;
          background-color: $gray-100;
          transition: background-color 0.3s ease;

          .img {
            margin: 0;
            width: 24px;
            height: 24px;
          }
        }

        &:hover {
          .arrow-button {
            background-color: $gray-200;
          }
        }
        &:active {
          .arrow-button {
            background-color: $gray-300;
            @include shadow-s;
          }
        }
      }
    }

    #showcase-image {
      grid-area: img;
      align-items: baseline;
      width: 100%;
      padding: 20px 40px;

      @include md {
        padding: 0;
      }
    }
  }
}
